PIPELINE_SEED=42
N_USERS=5000
N_PRODUCTS=800
N_EVENTS=120000
TRAINING_WINDOW_DAYS=180
RECOMMENDATION_K=10
RETRIEVAL_BACKEND=auto
RANKING_BACKEND=auto
PRICING_BACKEND=auto
FORECASTING_BACKEND=auto
RETRIEVAL_EPOCHS=4
RETRIEVAL_BATCH_SIZE=1024
API_ARTIFACT_MODE=sample
